<aside>
    <div class="panel panel-default">
        <div class="panel-heading">Panel heading without title</div>
        <div class="panel-body">
            <a href="https://bootswatch.com/paper/" target="_blank">Bootswatch</a>
        </div>
    </div>

    <div class="panel panel-success">
        <div class="panel-heading">Panel heading without title</div>
        <div class="panel-body">
            <a href="http://getbootstrap.com/getting-started/" target="_blank">http://getbootstrap.com/</a>
        </div>
    </div>

    <div class="panel panel-info">
        <div class="panel-heading">Panel heading without title</div>
        <div class="panel-body">
            <a href="http://www.dropzonejs.com/#configuration-options" target="_blank">www.dropzonejs.com</a>
            
        </div>
    </div>

    <div class="list-group">
        <a href="#" class="list-group-item active">
            <h4 class="list-group-item-heading">List group item heading</h4>
            <p class="list-group-item-text">...</p>
        </a>
    </div>

    <div class="list-group">
        <a href="#" class="list-group-item">
            <h4 class="list-group-item-heading">List group item heading</h4>
            <p class="list-group-item-text">...</p>
        </a>
    </div>
</aside>