@using System.Web.UI.WebControls
@using Confidami.Common
@using Confidami.Web.ViewModel
@model Confidami.Web.ViewModel.PostViewModel



<div class="col-lg-12">
    <div class="row">
        <header>
            <h4>@ViewBag.Heding</h4>
        </header>
    </div>
</div>

<section>
    <p>.........................</p>
</section>

