<div class="col-lg-12">
    <div class="row">
        <header>
            <h4>@ViewBag.Heding</h4>
        </header>
    </div>
</div>

<section>

    @Html.Partial("_Form")

    @Html.Partial("_SearchResult")

</section>